# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.

Plugins>AJS, "TwoPhoton Import", ajs.tools.TwoPhoton_Import
Plugins>AJS, "Update 2P Stack", ajs.tools.TwoPhoton_Import("updateCurrentImage")
Plugins>AJS, "Add Slice Times", ajs.tools.TwoPhoton_Import("updateImageSliceTimes")
Plugins>AJS, "Get 2p Info", ajs.tools.TwoPhoton_Import("printexloc")
Plugins>AJS, "Slicelabel Transfer", ajs.tools.Slicelabel_Transfer
Plugins>AJS, "Slicelabel Viewer", ajs.tools.Slicelabel_Viewer
Plugins>AJS, "Print Times", ajs.tools.Time_Extractor("printTimes")
Plugins>AJS, "Diameter Profile", ajs.tools.Diameter_Profile
Plugins>AJS, "Stack Trimmer", ajs.tools.StackTrimmer
Plugins>AJS, "Thresh-Cell-Transfer", ajs.tools.Thresh_Cell_Transfer
Plugins>AJS, "AJ Options", ajs.tools.TwoPhoton_Import("options")
